@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --radius: 10px;
  --background: 204 23% 63%;
  --foreground: 210 20% 35%;
  --card: 0 0% 97%;
  --card-foreground: 210 20% 35%;
  --popover: 204 15% 75%;
  --popover-foreground: 210 25% 25%;
  --primary: 204 23% 63%;
  --primary-foreground: 21 20% 35%;
  --secondary: 223 30% 55%;
  --secondary-foreground: 210 25% 30%;
  --muted: 210 20% 35%;
  --muted-foreground: 204 23% 63%;
  --accent: 210 25% 25%;
  --accent-foreground: 0 0% 100%;
  --destructive: 210 25% 25%;
  --destructive-foreground: 223 30% 55%;
  --border: 210 25% 25%;
  --input: 210 20% 35%;
  --ring: 223 30% 55%;
  --chart-1: 204 23% 63%;
  --chart-2: 204 15% 75%;
  --chart-3: 204 10% 85%;
  --chart-4: 0 0% 97%;
  --chart-5: 0 0% 100%;
}